body {
    background-color: gray;
}
.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: inline-block;
}
#esemeny {
    text-align: left;
    color: red;
}
#post{
    border: 3px solid black;
    border-radius: 5px;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
}
#post1 {
    border: 3px solid red;
    height: auto;
    border-radius: 5px;
}
#right{
    float:right;
}