body {
    background-color: gray;
}
.container {
    margin: 0;
    padding: 0;
    background-color: black;
    max-width: 100%;
    display: inline-block;
}
#search {
    margin-left: 80%;
}
.esemeny {
    text-align: left;
    color: white;
}